<!--
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
-->
<html>
<body>
	<form ng-submit="add()"  id="add-new">
		<div class="form-group">
			<table>
				<tr>
	  				<th><label><u>Create Beer</u></label></th>
	  			</tr>
	  			<tr>
	  				<td class="first">
	  					<label> Beer Name: </label>
	  				</td>
	  				<td>
	  					<input type="text" name="newBeerName" ng-model="newBeerName">
	  				</td>
	  			</tr>
	  			<tr>
	  				<td class="first">
	  					<label> Your Comment: </label>
	  				</td>
	  				<td>
	  					<input type="text" name="newBeerComment" ng-model="newBeerComment">
	  				</td>
	  			</tr>
	  			<tr>
	  				<td class="first">
	  				</td>
	  				<td>
	  					<input type="submit" class="submit" value="Submit" ng-model="newSubmit"/>
	  				</td>		  				
	  			</tr>
	  		</table>
		</div>
	</form>
	<input type="submit" value="Log Out" id="logout" ng-click="logout()" />
	<div class="column beer-list">
		<h2> Your beers:</h2>
			<accordion>
				<accordion-group class="beer" ng-repeat="beer in allbeers | filter:isOwnedByMe" heading="{{beer.name}}" is-open="false" is-disabled="false">
					<label>
						<a ng-click="del(this)" name="{{beer.name}}">Delete</a>
					</label>
					<!--<div ng-show="!isFavourite(beer)">
						<a ng-click="favourite(this)" name="{{beer.name}}">Favourite?</a>
					</div>
					<div ng-show="isFavourite(beer)">
						<i class="fa fa-heart"></i>
						<a ng-click="unfavourite(this)" name="{{beer.name}}">UnFavourite?</a>
					</div>-->
					<h5>{{beer.publicComment}}</h5>
					<div class="comment" ng-repeat="comment in beer.privateComment">
						<label>{{comment.userID}}</label>'s thoughts:<i> {{comment.comment}} </i>
					</div>
				</accordion-group>
			</accordion>
			<accordion>
				<accordion-group class="beer" ng-repeat="beer in allbeers | filter:isAlsoMine" heading="{{beer.name}}" is-open="false" is-disabled="false">>
					<label>
						<a ng-click="remove(this)" name="{{beer.name}}">Remove</a>
					</label>
					<h5>{{beer.publicComment}}</h5>
					<div class="comment" ng-repeat="comment in beer.privateComment">
						<label>{{comment.userID}}</label>'s thoughts:<i> {{comment.comment}} </i>
					</div>
				</accordion-group>
			</accordion>			
	</div>
	<div class="column beer-list">
		<h2>Beers added by other users: </h2>
		<accordion>
			<accordion-group class="beer" ng-repeat="beer in allbeers | filter:'!'+isOwnedByMe | filter:isNotMine" heading="{{beer.name}}" is-open="false" is-disabled="false">
				<label>	
					<a ng-click="addtomine(this)" name="{{beer.name}}"> Add</a>
				</label>			
				<h5>{{beer.publicComment}}</h5>
				<b>{{'Added By: ' + beer.owner}}</b>
				<div class="comment" ng-repeat="comment in beer.privateComment">
					<label>{{comment.userID}}</label>'s thoughts:<i> {{comment.comment}} </i>
				</div>
			</accordion-group>
		</accordion>
		<span id="comment">
			<b>Your Comment: </b>
			<input type="text" name="existBeerComment" ng-model="existBeerComment"/>
		</span>
	</div>
</body>
</html>